slack-sdk
python-dotenv
fastapi
uvicorn[standard]
python-multipart
openai
pytz
mailtrap
supabase
tenacity
apscheduler
jinja2
inflect
google-generativeai
sentry-sdk[fastapi]
httpx
aiohttp
google-api-python-client
google-auth
pytest
